snippet bg "background"
background: $0;
endsnippet

snippet mt "margin-top"
margin-top: $0;
endsnippet

snippet mr "margin-right"
margin-right: $0;
endsnippet

snippet ml "margin-left"
margin-left: $0;
endsnippet
